[submodule "abb"]
	path = abb
	url = git@github.com:epfl-lasa/abb.git
[submodule "industrial_core"]
	path = industrial_core
	url = git@github.com:epfl-lasa/industrial_core.git
[submodule "yumi-1"]
	path = yumi-1
	url = git@github.com:epfl-lasa/yumi-1.git
