[submodule "abb"]
	path = abb
	url = git@github.com:epfl-lasa/abb.git
[submodule "industrial_core"]
	path = industrial_core
	url = git@github.com:epfl-lasa/industrial_core.git
[submodule "yumi-1"]
	path = yumi-1
	url = git@github.com:epfl-lasa/yumi-1.git
[submodule "robot-toolkit"]
	path = robot-toolkit
	url = git@github.com:epfl-lasa/robot-toolkit.git
[submodule "robot-kinematics"]
	path = robot-kinematics
	url = git@github.com:epfl-lasa/robot-kinematics.git
[submodule "motion-generators"]
	path = motion-generators
	url = git@github.com:epfl-lasa/motion-generators.git
[submodule "miscellaneous/mocap_optitrack"]
	path = miscellaneous/mocap_optitrack
	url = git@github.com:epfl-lasa/mocap_optitrack.git
